<!--<p>login works!</p>-->
<nav>
  <!--<image id="Logo" src="../../../../public/images/bluffhubLogo.png"/>-->
  <ul text-align='center'>
    <li><a href="../signup">Sign Up</a></li>
  </ul>
</nav>

<h2 id="loginText"> Log In </h2>
<form id="inputField" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <p>Username</p>
    <input matInput id="urN" type="text" name="usrName">
  </mat-form-field>
  <mat-form-field>
    <p>Password</p>
    <input matInput id="pW" type="pssWd" name="passWrd">
  </mat-form-field>
  <button id="loginButton" type="submit">Log In</button>
</form>