<!--<p>login works!</p>-->
<nav>
  <!--<image id="Logo" src="../../../../public/images/bluffhubLogo.png"/>-->
  <ul text-align='center'>
    <li><button id='loginButton' (click)="signupclick()">Sign Up</button></li>
  </ul>
</nav>

<h2 id="loginText"> Log In </h2>
<form id="inputField" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <p>Username</p>
    <input matInput id="urN" type="text" name="usrName" formControlName="username" required>
  </mat-form-field>
  <mat-form-field>
    <p>Password</p>
    <input matInput id="pW" type="pssWd" name="passWrd" formControlName="password" required>
  </mat-form-field>
  <button id="loginButton" type="submit">Log In</button>
</form>
