
#Logo{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  color: red;
}

#loginText{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  color: white;
}

p{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  margin: auto;
  color: white;
}

#urN{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  margin: auto;
}

#pW{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  margin: auto;
}

#inputField{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  margin: auto;
  color: red;
}

#loginButton{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontal centering */
  align-items: flex-start; /* Vertical centering */
  margin: auto;
  color: black;
  background-color: red;
}

mat-form-field{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontal centering */
  align-items: flex-start; /* Vertical centering */
  margin: auto;
}
