<nav>
  <!--<image id="Logo" src="../../../../public/images/bluffhubLogo.png"/>-->
  <ul text-align='center'>
    <li><button id='loginButton' (click)="loginclick()">Log In</button></li>
  </ul>
</nav>

<h2 id="signupText"> Sign Up </h2>
<form id="inputField" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <p>Username</p>
    <input matInput id="urN" type="text" name="usrName" formControlName="username" required>
  </mat-form-field>
  <mat-form-field>
    <p>Password</p>
    <input matInput id="pW" type="pssWd" name="passWrd" formControlName="password" required>
  </mat-form-field>
  <!--<mat-form-field>
    <p>Confirm Password</p>
    <input matInput id="pW" type="pssWd" name="passWrd">
  </mat-form-field>-->
  <button id="loginButton" type="submit">Sign Up</button>
</form>
