<h2 id="signupText"> Sign Up </h2>
<div id="inputField">
  <mat-form-field>
    <p>Username</p>
    <input matInput id="urN" type="text" name="usrName" [(ngModel)]="enteredUserName">
  </mat-form-field>
  <mat-form-field>
    <p>Password</p>
    <input matInput id="pW" type="pssWd" name="passWrd" [(ngModel)]="enteredPassword">
  </mat-form-field>
  <mat-form-field>
    <p>Confirm Password</p>
    <input matInput id="pW" type="pssWd" name="passWrd" [(ngModel)]="enteredPassword2">
  </mat-form-field>
  <button id="loginButton">Sign Up</button>
<div>
