<h2 id="signupText"> Sign Up </h2>
<form id="inputField" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <p>Username</p>
    <input matInput id="urN" type="text" name="usrName">
  </mat-form-field>
  <mat-form-field>
    <p>Password</p>
    <input matInput id="pW" type="pssWd" name="passWrd">
  </mat-form-field>
  <mat-form-field>
    <p>Confirm Password</p>
    <input matInput id="pW" type="pssWd" name="passWrd">
  </mat-form-field>
  <button id="loginButton" type="submit">Sign Up</button>
</form>
